<ion-modal-view>
   <ion-header-bar>
      <h1 class="title">Available Towkens</h1>
      <button class="button icon ion-close-round model-close" on-tap="towkens.towkensModel.hide()"></button>
   </ion-header-bar>
   <ion-content>
      <div class="text-center">
         <img class="avatar" src="app/assets/img/Profile_Default.jpg" alt="...">
      </div>
      <h4 class="text-center">Business Name: {{towkens.modelData.business_name}}</h4>
      <div class="text-center">
         <button class="btn btn-primary" on-tap="towkens.towkensModel.hide()">Select</button>
      </div>
   </ion-content>
</ion-modal-view>