<ion-modal-view>
   <ion-header-bar>
      <h1 class="title">Change Your Password</h1>
      <button class="button icon ion-close-round model-close" on-tap="profile.changepassword.hide()"></button>
   </ion-header-bar>
   <ion-content>
      <div class="list">
         <label class="item item-input item-stacked-label">
         <span class="input-label">Current Password</span>
         <input type="password" ng-model="profile.currentPassword">
         </label>
         <label class="item item-input item-stacked-label">
         <span class="input-label">Password</span>
         <input type="password" ng-model="profile.newPassword">
         </label>
         <label class="item item-input item-stacked-label">
         <span class="input-label">Verify New Password</span>
         <input type="password" ng-model="profile.verifyPassword">
         </label>
         <label class="item item-input item-stacked-label">
            <button class="button button-assertive" ng-click="profile.changeProfilePassword()">Save New Password</button>
            <button class="button button-clear button-dark" on-tap="profile.changepassword.hide()">Cancel</button>
         </label>
      </div>
   </ion-content>
</ion-modal-view>
